*{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    background-image: url(https://pressstart.vip/images/uploads/assets/bluemoon.png);
}
canvas {
    border: 2px solid black;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/80/96/cartoon-desert-game-background-with-coins-vector-19588096.jpg);
}

button{
    height: 50px;
    width: 50px;
    border: none;
    color: white;
}